# 1. define dictionaries.
- They are combination of key- values , for every item or key there is a value assihned which forms a dictionary.
- they are defined by curly braces {}
- Dictionaries are also called associative arrays or hash maps.
- They are mutable and dont allow duplicates.

# 2. examples of dictionaries.

- data = {"Ali": 30,"Bobby": 25,"Colie": 35}
- a= { 'idris'= A, 'anu': B}
- student = {"name": "idris" ,  "age": 21, "course": python}
- x= { 'a': 23, 'b' : 34 , 'c' : 90}
- book = {"title": " Kil","hero": "ragahav"}
- class= { 'ravi': 'middle', 'anukush': 'rich',' eshan': 'poor'}
- bio= { 'name' : 'ram',' job' : 'python developer', 'skill level': 'moderate'}
- advertisment= { "role": "marketer",
                  "age": 22
                 }
- keys={ "set":" done","strings":" not done","tuple":" mot started","sql": " about to start"}
- list={'a': 23, 'b': 34, 'c': 100, 'd': 34, 'e': 77, 'f': 93}

# 3. Modify the dictionaries.

In [7]:
student = {"name": "idris" , "age": 21, "course": "python"}
student[ "age"]= 23
print(student)

{'name': 'idris', 'age': 23, 'course': 'python'}

In [9]:
student = {"name": "idris" , "age": 21, "course": "python"}
student[ "course"]= " business "
print(student)

{'name': 'idris', 'age': 21, 'course': ' business '}

In [13]:
x= { 'a': 23, 'b' : 34 , 'c' : 90}
x['a']= 50
print(x)

{'a': 50, 'b': 34, 'c': 90}

In [15]:
x= { 'a': 23, 'b' : 34 , 'c' : 90}
x['a']= "dead"
print(x)

{'a': 'dead', 'b': 34, 'c': 90}

In [17]:
x= { 'a': 23, 'b' : 34 , 'c' : 90}
x['c']= 100
print(x)

{'a': 23, 'b': 34, 'c': 100}

# 4. adding a new entry

In [22]:
student = {"name": "idris" , "age": 21, "course": "python"}
student[ "age"]= 23
print(student)

{'name': 'idris', 'age': 23, 'course': 'python'}

In [30]:
student["place"]= "hyderabad"
student[" sign"]= " leo"
print(student)

{'name': 'idris', 'age': 23, 'course': 'python', 'place': 'hyderabad', ' sign': ' leo'}

In [32]:
x= { 'a': 23, 'b' : 34 , 'c' : 90}
x['c']= 100
print(x)

{'a': 23, 'b': 34, 'c': 100}

In [34]:
x['d']= 34
x['e']= 77
x['f']= 93
print(x)

{'a': 23, 'b': 34, 'c': 100, 'd': 34, 'e': 77, 'f': 93}

In [36]:
bio= { 'name' : 'ram',' job' : 'python developer', 'skill level': 'moderate'}
print(bio)

{'name': 'ram', ' job': 'python developer', 'skill level': 'moderate'}

In [121]:
bio['company']= ' tcs'
bio['duration']= ' 5 years'
print(bio)

{'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs', 'duration': ' 5 years'}

# 5. Methods of dictionary.

1. get- it returns the value of a specific key amd provide the value if its found.

In [45]:
# example
data = {"Ali": 30,"Bobby": 25,"Colie": 35}
d= data.get( "Bobby", "not mentioned")
c= data.get("raju", "not mentioned")
print(d)
print(c)

25
not mentioned

2. Keys- They return all the values that are present in the dictionary

In [49]:
#example
bio={'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs', 'duration': ' 5 years'}
bio.keys()

dict_keys(['name', ' job', 'skill level', 'company', 'duration'])

3. values- It returns all the vlaues in the dictionary.

In [52]:
#example
bio={'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs', 'duration': ' 5 years'}
bio.values()

dict_values(['ram', 'python developer', 'moderate', ' tcs', ' 5 years'])

4.items- It returns all the key-value in the dictionary in the form of tuple.

In [59]:
#example
student = {"name": "idris" , "age": 21, "course": "python"}
student.items()

dict_items([('name', 'idris'), ('age', 21), ('course', 'python')])

5. pop- It removes the specifc value in the dictioanry.

In [72]:
#example
student = {"name": "idris" , "age": 21, "course": "python"}
x=student.pop("age")
print(x)

21

In [74]:
print(student)

{'name': 'idris', 'course': 'python'}

6. popitem- removes the last keyvalue pair as tuple

In [80]:
#example
bio={'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs', 'duration': ' 5 years'}
print(bio)

{'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs', 'duration': ' 5 years'}

In [82]:
last= bio.popitem()
print(last)
print(bio)

('duration', ' 5 years')
{'name': 'ram', ' job': 'python developer', 'skill level': 'moderate', 'company': ' tcs'}

7. update- It updates the dictionary with new keyvalues pairs from other dictionary or some other iterations.

In [87]:
# example
student = {"name": "idris" , "age": 21, "course": "python"}
print(student)

{'name': 'idris', 'age': 21, 'course': 'python'}

In [91]:
new= { "gender":"male", "height": 6.2}
student.update(new)
print(student)

{'name': 'idris', 'age': 21, 'course': 'python', 'gender': 'male', 'height': 6.2}

8. clear- removes all the elements from the dictionary

In [103]:
#example
data = {"Ali": 30,"Bobby": 25,"Colie": 35}
data.clear()
print(data)

{}

9.copy - It returns a copy of the dictionary.

In [105]:
#example
details= { "gender":"male", "height": 6.2}
details.copy()

{'gender': 'male', 'height': 6.2}

10.setdefault- It returns the value of the specified key only if its present in the dictionary

In [109]:
#example
student = {"name": "idris" , "age": 21, "course": "python"}
x=student.setdefault("id no",26)
print(student)

{'name': 'idris', 'age': 21, 'course': 'python', 'id no': 26}

11. fromkeys- returns a dictionary with specified keys and values

In [119]:
# example
list={'a': 23, 'b': 34, 'c': 100, 'd': 34, 'e': 77, 'f': 93}
list.fromkeys(list,"passed")

{'a': 'passed',
 'b': 'passed',
 'c': 'passed',
 'd': 'passed',
 'e': 'passed',
 'f': 'passed'}