# 1. Define about list.
- List are items collected from any data type which are ordered.
- They arer mutable( modified)so we can change , add, remove items from the list.
- Lists are denoted my square brackets[].
- They also allow dublicate items in the list.

# 2.Create 10 examples storing different data types.
- a= [1,2,3] # int
- data= [23.4,56,89.5] # int and float
- x= [56.6,5.48,9.7,1.2 ]# float
- d= [23+2j,4-3j,234-0j] # complex
- a=[2>3,4<5,34>9,31!=2,2<=1] # Boolean
- age=[ 12,45,34,34] # numberlist
- All=[ 1,45.3,2+2j] # complex,float, int
- food=[ 'chicken','fish','mutton'] #nameslist
- mixed=[12,45,90,"tea",4,"coffee"] # mixed list
- lst=[ 1,2,3,4,5,2,3,1,7] #list

# 3.Create 15 elements list and you need to accsess each and every  element using indexing both positive and negative

In [10]:
age=[ 27,4,15,69,7,38,9,20,34,54,91,32,1,19,62]
print(age[0])
print(age[-1])

27
62

In [12]:
print(age[1])
print(age[-2])

4
19

In [14]:
print(age[2])
print(age[-3])

15
1

In [16]:
print(age[3])
print(age[-4])

69
32

In [18]:
print(age[4])
print(age[-5])

7
91

In [20]:
print(age[5])
print(age[-6])

38
54

In [22]:
print(age[6])
print(age[-7])

9
34

In [24]:
print(age[7])
print(age[-8])

20
20

In [28]:
print(age[8])
print(age[-9])

34
9

In [30]:
print(age[9])
print(age[-10])

54
38

In [32]:
print(age[10])
print(age[-11])

91
7

In [36]:
print(age[11])
print(age[-12])

32
69

In [38]:
print(age[12])
print(age[-13])

1
15

In [40]:
print(age[13])
print(age[-14])

19
4

In [16]:
print(age[14])
print(age[-15])

62
27

# 3. Slicing both positive and negative

In [71]:
#positive slicing and negative indexing
age=[ 27,4,15,69,7,38,9,20,34,54,91,32,1,19,62]
print(age[2:11])
print(age[0:5])
print(age[3:10])
print(age[1:8])
print(age[:15])

[15, 69, 7, 38, 9, 20, 34, 54, 91]
[27, 4, 15, 69, 7]
[69, 7, 38, 9, 20, 34, 54]
[4, 15, 69, 7, 38, 9, 20]
[27, 4, 15, 69, 7, 38, 9, 20, 34, 54, 91, 32, 1, 19, 62]

In [77]:
age=[ 27,4,15,69,7,38,9,20,34,54,91,32,1,19,62]
print(age[-6:-1])
print(age[:-1])
print(age[-11:-5])
print(age[-15:-11])
print(age[-9:-4])

[54, 91, 32, 1, 19]
[27, 4, 15, 69, 7, 38, 9, 20, 34, 54, 91, 32, 1, 19]
[7, 38, 9, 20, 34, 54]
[27, 4, 15, 69]
[9, 20, 34, 54, 91]

# 4. Concatenating 5 lists

In [93]:
age=[ 12,45,34,34]
All= [5.3,2+2j] 
food=[ 'chicken','fish','mutton'] 
mixed=[12,45,90,"tea",4,"coffee"] 
lst=[ 1,2,3,4,5,2,3,1,7] 
whole_list =age+All+food+mixed+lst
a= age+lst
x= All+food+mixed
y= lst+ age
print(whole_list)
print(a)
print(x)
print(y)

[12, 45, 34, 34, 5.3, (2+2j), 'chicken', 'fish', 'mutton', 12, 45, 90, 'tea', 4, 'coffee', 1, 2, 3, 4, 5, 2, 3, 1, 7]
[12, 45, 34, 34, 1, 2, 3, 4, 5, 2, 3, 1, 7]
[5.3, (2+2j), 'chicken', 'fish', 'mutton', 12, 45, 90, 'tea', 4, 'coffee']
[1, 2, 3, 4, 5, 2, 3, 1, 7, 12, 45, 34, 34]

# 5.Repetetion of 5 lists

In [54]:
food=[ 'chicken','fish','mutton'] 

rep_list=food*2
print(rep_list)

['chicken', 'fish', 'mutton', 'chicken', 'fish', 'mutton']

In [56]:
mixed=[12,45,90,"tea",4,"coffee"] 
rep_list= mixed*3
print(rep_list)

[12, 45, 90, 'tea', 4, 'coffee', 12, 45, 90, 'tea', 4, 'coffee', 12, 45, 90, 'tea', 4, 'coffee']

In [58]:
d= [23+2j,4-3j,234-0j] 
rep_list= d*4
print(rep_list)

[(23+2j), (4-3j), (234+0j), (23+2j), (4-3j), (234+0j), (23+2j), (4-3j), (234+0j), (23+2j), (4-3j), (234+0j)]

In [60]:
data= [23.4,56,89.5] 
rep_list= data*5
print(rep_list)

[23.4, 56, 89.5, 23.4, 56, 89.5, 23.4, 56, 89.5, 23.4, 56, 89.5, 23.4, 56, 89.5]

In [62]:
a= [1,2,3]
rep_list= a*7
print(rep_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# 6.Modify 5 elements in the list

In [69]:
age=[ 27,4,15,69,7,38,9,20,34,54,91,32,1,19,62]
age[2]="alive"
age[-1]= "dead"
age[6]= "hero"
age[-3]= "infant"
age[8]="young"
print(age)

[27, 4, 'alive', 69, 7, 38, 'hero', 20, 'young', 54, 91, 32, 'infant', 19, 'dead']

In [79]:
age=[ 27,4,15,69,7,38,9,20,34,54,91,32,1,19,62]
age[2:6]=[0.2,0.6,90,10.2,0.1]
print(age)

[27, 4, 0.2, 0.6, 90, 10.2, 0.1, 9, 20, 34, 54, 91, 32, 1, 19, 62]

# 7.Methods in list.

1.Append
- It adds the other element in  the existing list.
example:-

In [108]:
list = [32,29,42,54]
list.append(67)
print(list)

[32, 29, 42, 54, 67]

2.Extend
- It can add multiple list in the end of the list.
example :-

In [16]:
map=['a','r','w','r']
cap=[ 23.78,3,21,99]
map.extend(cap)
print(map)

['a', 'r', 'w', 'r', 23.78, 3, 21, 99]

3.insert
- we can insert a variable in a specific position.

In [21]:
#example
num= [ 22,44,66,88]
num.insert(2,100)
print(num)

[22, 44, 100, 66, 88]

4.remove
- we can remove which ever value we want from  the list.

In [24]:
#example
alpha=['abc','dcf','hgf','kla', 'nqm']
alpha.remove('kla')
print(alpha)

['abc', 'dcf', 'hgf', 'nqm']

5.pop
- pop helps in removing  a specific value from the list or pops the specific value.

In [29]:
#example
a=[1,2,4,5,7,8,4,3,5,7,8,5,3,5]
a.pop(-5)
print(a)

[1, 2, 4, 5, 7, 8, 4, 3, 5, 8, 5, 3, 5]

6.index
- It identifies the value of a element and they are positive and negative indexing.

In [36]:
#example
ind=['ram', 'rahul', 'ramnm', 'idris', 'anvi']
ind.index('idris')

3

7.count
- It gives the number of occurances presnet in the list of a specific value.

In [39]:
#example
a=[1,2,4,5,7,8,4,3,5,7,8,5,3,5]
a.count(3)

2

8.sort
- sorts the list in ascending order.

In [50]:
#example
alpha=['abc','Dcf','Hgf','kla', 'nQm']
alpha.sort()
print(alpha)

['Dcf', 'Hgf', 'abc', 'kla', 'nQm']

9.reverse
- It just reverses the order from back to front.

In [55]:
#example
cap=[ 23.78,3,21,99]
cap.reverse()
print(cap)

[99, 21, 3, 23.78]

10.copy
- It returns the copy of the list.

In [62]:
#example
food=[ 'chicken','fish','mutton'] 
food.copy()
print(food)

['chicken', 'fish', 'mutton']

11.clear
- It removes all the elements from the list.

In [67]:
#example
lst=[ 1,2,3,4,5,2,3,1,7] 
lst.clear()
print(lst)

[]