# 1. define sets
- A set is an unordered collection of unique items.
- they are defined using curly braces{}and seperated using comma.
- They are mutable and do not allow dupliacte items in it.
- we can add or remove the existing elements but we cant modify them
- we can also perform various operations like union , intersection etc in sets.

# 2. examples of sets.
- data= {'bat','ball','wicket', 'helmet'}
- a= {23,4,78,90,22,22,1,22,5,6,1,9, 4, 90, 34, 4, 90, 22}
- num= {1,2,3,4,5,6,7,8}
- vegetables={"carrot"," brinjal", "ladysfinger","tomato"}
- mixed={ 23, "iddu", false, 34.90}
- numflo_set= {23.09, 12, 89,31.4, 80,97.3}
- names={ "shaik", "alla", " venkata", "sai"," Anvitha"}
- single={"sky",}
- empty={}
- x={"music", "dance","art","roleplay","writing","acting"}

# 3. covert one type to another set

In [7]:
data= ('bat','ball','wicket', 'helmet')
x=set(data)
print(x)
print(type(x))

{'ball', 'helmet', 'wicket', 'bat'}
<class 'set'>

In [9]:
data= [12, 45, 23.4, 98]
x=set(data)
print(x)
print(type(x))

{98, 12, 45, 23.4}
<class 'set'>

In [13]:
x=["music", "dance","art","roleplay","writing","acting"]
a= set(x)
print(a)
type(a)

{'acting', 'music', 'roleplay', 'writing', 'art', 'dance'}

set

In [20]:
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
print(a)
print(type(a))

{1, 34, 4, 5, 6, 78, 22, 23, 90}
<class 'set'>

In [22]:
data= ['bat','ball','wicket', 'helmet']
x=set(data)
print(x)
print(type(x))

{'ball', 'helmet', 'wicket', 'bat'}
<class 'set'>

In [28]:
mixed=(23, "iddu", 'false ', 34.90)
x=set(mixed)
print(x)
print(type(x))

{'false ', 34.9, 'iddu', 23}
<class 'set'>

# 4. add and updating set items

In [36]:
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
print(a)
a.add(45,)
print("updated:",a)

{1, 34, 4, 5, 6, 78, 22, 23, 90}
updated: {1, 34, 4, 5, 6, 45, 78, 22, 23, 90}

In [48]:
data= {12, 45, 23.4, 98}
data.add(21.3)
print(data)

{98, 12, 45, 21.3, 23.4}

In [50]:
data.add(100)
print(data)

{98, 100, 12, 45, 21.3, 23.4}

In [52]:
data= {'bat','ball','wicket', 'helmet'}
data.add("pad")
print(data)

{'wicket', 'pad', 'ball', 'helmet', 'bat'}

In [56]:
num= {1,2,3,4,5,6,7,8}
num.add(1000)
print("new num:", num)

new num: {1, 2, 3, 4, 5, 6, 7, 8, 1000}

In [60]:
names={ "shaik", "alla", " venkata", "sai"," Anvitha"}
extra={"idris","iddu"}
names.update(extra)
print(names)

{' venkata', 'sai', 'alla', 'iddu', 'idris', 'shaik', ' Anvitha'}

In [62]:
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
mixed.update(mixed_new)
print(mixed)

{34.9, 'none', 23, 1000, 'false ', 'iddu'}

In [66]:
vegetables={"carrot"," brinjal", "ladysfinger","tomato"}
new_vegetables={"beetroot"," cauliflower", "garlic","onion"}
vegetables.update(new_vegetables)
print(vegetables)

{'ladysfinger', 'carrot', ' cauliflower', 'beetroot', 'tomato', 'garlic', 'onion', ' brinjal'}

In [68]:
single={"sky",}
mingle={"virat", "dhoni","axar","rohit"}
single.update(mingle)
print(single)

{'rohit', 'dhoni', 'sky', 'virat', 'axar'}

In [70]:
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
num.update(int)
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

# 5. removing an element from the set

In [77]:
new_vegetables={"beetroot"," cauliflower", "garlic","onion"}
removed=new_vegetables.discard("onion")
print(new_vegetables)

{'garlic', ' cauliflower', 'beetroot'}

In [79]:
data= {12, 45, 23.4, 98}
data.discard(12)
print(data)

{98, 45, 23.4}

In [81]:
int={23.09,11,45.87,3.67}
int.discard(11)
print(int)

{3.67, 45.87, 23.09}

In [83]:
mingle={"virat", "dhoni","axar","rohit"}
mingle.discard("dhoni")
print(mingle)

{'rohit', 'axar', 'virat'}

In [85]:
data= {'bat','ball','wicket', 'helmet'}
data.discard("ball")
print(data)

{'helmet', 'wicket', 'bat'}

In [89]:
x={"music", "dance","art","roleplay","writing","acting"}
x.remove("music")
print(x)

{'writing', 'acting', 'art', 'roleplay', 'dance'}

In [91]:
mixed={ 23, "iddu", 'false', 34.90}
mixed.remove("false")
mixed

{23, 34.9, 'iddu'}

In [93]:
vegetables={"carrot"," brinjal", "ladysfinger","tomato"}
vegetables.remove("tomato")
print(vegetables)

{'ladysfinger', 'carrot', ' brinjal'}

In [99]:
single={"sky",}
single.remove("sky")
print(single)

set()

In [101]:
x={"music", "dance","art","roleplay","writing","acting"}
x.remove("art")
print(x)

{'writing', 'acting', 'roleplay', 'music', 'dance'}

# 6. Python set opereations

In [106]:
# union- It combines elements in two sets
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
print(num.union(int))

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

In [108]:
veg={"carrot"," brinjal", "ladysfinger","tomato"}
new_veg={"beetroot"," cauliflower", "garlic","onion"}
print(new_veg|veg)

{'ladysfinger', 'carrot', ' cauliflower', 'beetroot', 'tomato', ' brinjal', 'garlic', 'onion'}

In [110]:
data= {'bat','ball','wicket', 'helmet'}
new_data={ "pad", "bails"}
print(data.union(new_data))

{'ball', 'helmet', 'wicket', 'pad', 'bat', 'bails'}

In [136]:
# intersection- It returns the elements which are common in two sets
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.intersection(updated))

{1, 4, 22, 78}

In [140]:
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
b={23,14,8,100,1,5, 54, 90, 22}
print(a&b)

{1, 5, 22, 23, 90}

In [142]:
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
print(mixed&mixed_new)

{23}

In [144]:
# difference- returns the elements which are presnt in the first set but not in the second,
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
b={23,14,8,100,1,5, 54, 90, 22}
print(a-b)

{78, 34, 4, 6}

In [146]:
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.difference(updated))

{3, 23}

In [148]:
d= {23.09, 12, 89,31.4, 80,97.3}
c= { 12,80,21.67,0.78}
print(c-d)

{0.78, 21.67}

In [164]:
#  set symmetric difference- It returns the  elemnets that are ineither of the sets but not in both
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
print(mixed^mixed_new)

{34.9, 1000, 'false', 'iddu', 'none', 'false '}

In [152]:
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.symmetric_difference(updated))

{3, 5, 6, 45, 23, 90}

In [162]:
veg={"carrot"," onion", "ladysfinger","tomato"}
new={"beetroot"," tomato","onion"}
print(veg.symmetric_difference(new))
print(veg^new)

{'ladysfinger', ' tomato', 'carrot', 'beetroot', 'tomato', ' onion', 'onion'}
{'ladysfinger', ' tomato', 'carrot', 'beetroot', 'tomato', ' onion', 'onion'}

# 7. Methods in sets

1. add- it adds new element to the set.

In [168]:
#example
data= {12, 45, 23.4, 98}
data.add(21.3)
print(data)

{98, 12, 45, 21.3, 23.4}

2. clear- removes all the elements from the list

In [173]:
old={1, 4, 3, 23, 78, 22,}
old.clear()
print(old)

set()

3. copy- It returns the copy of the set

In [176]:
#example
c= { 12,80,21.67,0.78}
c.copy()
print(c)

{80, 0.78, 12, 21.67}

4. difference- returns the elements which are presnt in the first set but not in the second.

In [178]:
#example
a={23,4,78,90,22,22,1,22,5,6,1, 4, 90, 34, 4, 90, 22}
b={23,14,8,100,1,5, 54, 90, 22}
print(a-b)

{78, 34, 4, 6}

5. difference_update-	Removes the items in this set that are also included in another, specified set

In [206]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.difference_update(b)
print(a)

{1, 2}

6. discard- removes the specific element from the list

In [193]:
#example
ew_vegetables={"beetroot"," cauliflower", "garlic","onion"}
removed=new_vegetables.discard("onion")
print(new_vegetables)

{'garlic', ' cauliflower', 'beetroot'}

7. intersection- It returns the elements which are common in two sets

In [196]:
# example
old={1, 4, 3, 23, 78, 22,}
updated= {1, 4, 5, 6, 45, 78, 22, 90}
print(old.intersection(updated))

{1, 4, 22, 78}

8.intersection_update-	Removes the items in this set that are not present in other, specified sets

In [204]:
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.intersection_update(b)
print(a)

{3, 4, 7}

9. union- It combines elements in two sets

In [209]:
# example
num= {1,2,3,4,5,6,7,8}
int={23.09,11,45.87,3.67}
print(num.union(int))

{1, 2, 3, 4, 5, 6, 7, 8, 3.67, 11, 45.87, 23.09}

10. update- it adds elements to the set

In [212]:
#example
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
mixed.update(mixed_new)
print(mixed)

{34.9, 'none', 23, 1000, 'false ', 'iddu'}

11. remove- It removes the specific element from the set

In [215]:
x={"music", "dance","art","roleplay","writing","acting"}
x.remove("music")
print(x)

{'writing', 'acting', 'art', 'roleplay', 'dance'}

12. symmetric difference- It returns the  elemnets that are ineither of the sets but not in both.

In [219]:
# example
mixed={23, "iddu", 'false ', 34.90}
mixed_new={23,"none", 1000}
print(mixed^mixed_new)

{34.9, 1000, 'iddu', 'none', 'false '}

13. symmetric_difference_update-  it Updates the existing caller set with the symmetric difference of sets.

In [222]:
#example
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
a.symmetric_difference_update(b)
print(a)

{1, 2, 5, 6}

14. pop- It removes an element from the set

In [233]:
#example
x={"music", "dance","art","roleplay","writing","acting"}
x.pop()
print(x)

{'acting', 'art', 'roleplay', 'music', 'dance'}

15. isdisjoint-	 It Checks whether the sets are disjoint or not, it returns true if they arent any common elements and false when it has.

In [238]:
#example
a = {1, 2, 3, 4, 7}
b = {3, 4, 5, 6, 7}
c=a.isdisjoint(b)
print(c)

False

16. issubset- It returns whether another set contains this set or not

In [254]:
#example
num= {1,2,3,4,5,6,7,8}
int={1,2,3,4}
print(int.issubset(num))

True

17. issuperset-	 it returns whether this set contains another set or not

In [257]:
#example
num= {1,2,3,4,5,6,7,8}
int={1,2,3,4}
print(num.issubset(int))

False