# 1. Define about strings.
- Its a sequence of characters which are used to represnt text
- we can use single or double quotes or thriple quotes to represent it
- They are one of the commonly  and widly used data types
- we can manipulate the variables by using various operations and string methods.

# 2. Create 10 elements using ' ' and " ".
- a=' idris'
- b='word'
- str='business analytics'
- teks='academy'
- string='character sequence'
- name="shaik idris"
- sub=" general science"
- type=" They are double strings"
- x= " he is very good"
- list=" collection of many things"

# 3.Create a string 50 characters and access any 10 using index and apply slicing with any two examples.

In [30]:
a='My name is shaik idrish and i am a cricket player.'
len(a)
print(a[9])
print(a[11])
print(a[-35])
print(a[-20])
print(a[33])
print(a[16])
print(a[-47])
print(a[-50])
print(a[20])
print(a[-14])

s
s
k
a
a

n
M
i
r

In [40]:
print(a[10:23])
print(a[-15:-1])

 shaik idrish
cricket player

# 4.Explain about string formats
- They are 3 types of string formats
  1. old style- it uses % for the expressions for the string.  
  2. format style- It replaces % with {} with the placeholders, they use curly braces{} for expressions. 
  3. f string method- It is the famous used method. In this the expressions are added in the curly braces.

In [103]:
#examples
# old style- it uses % for the expressions for the string.
number= 234
place="delhi"
formatted_string="His  number is %d going to %s." % (number,place)
print(formatted_string)

His  number is 234 going to delhi.

In [107]:
#examples
#2. format style- It replaces % with {}with the placeholders, they use curly braces for expressions.
number= 234
place="delhi"
formatted_string="His  number is {} going to {}." .format(number,place)
print(formatted_string)

His  number is 234 going to delhi.

In [111]:
#example
# 3. f string method- It is the famous used method. In this the expressions are added in the curly braces.
number= 234
place="delhi"
formatted_string=f"His  number is {number} going to {place}." 
print(formatted_string)

His  number is 234 going to delhi.

# 5.apply operations

In [123]:
a="shaik"
b="idris"
name= a+' '+b
n= b+"-"+a
p=a+b
print(name)
print(n)
print(p)

shaik idris
idris-shaik
shaikidris

In [87]:
str_1='Its a sequence of characters which are used to represnt text'
rep=str_1*3
print(rep)

Its a sequence of characters which are used to represnt textIts a sequence of characters which are used to represnt textIts a sequence of characters which are used to represnt text

In [91]:
str='Its a sequence of characters which are used to represnt text. \n'
rep_1=str*5
print(rep_1)

Its a sequence of characters which are used to represnt text.
Its a sequence of characters which are used to represnt text.
Its a sequence of characters which are used to represnt text.
Its a sequence of characters which are used to represnt text.
Its a sequence of characters which are used to represnt text.

In [121]:
str='Its a sequence of characters\n which are used to represnt text.\n'
rep_1=str*2
print(rep_1)

Its a sequence of characters
 which are used to represnt text.
Its a sequence of characters
 which are used to represnt text.

In [65]:
name=" anvitha alla"
print(name[5])

t

In [67]:
print(name[-1])

a

In [97]:
str="Its a sequence of characters which are used to represnt text"
a= str[6:29]
bc= str[-13: ]
print(a)
print(bc)

sequence of characters
represnt text

# 6.  Types and applicaton of string methods

1. len- it counts the length of the charecter of the string.
- example

In [125]:
a='My name is shaik idrish and i am a cricket player.'
len(a)

50

2. lower/upper- It converts the string to upper/lower case.
- example

In [128]:
name=" anvitha alla"
print(name.upper())

 ANVITHA ALLA

In [130]:
name=" SHAIK IDRIS"
print(name.lower())

 shaik idris

3. strip- it removes the start and end spaces in the string
- example

In [136]:
name=" anvitha alla  "
print(name.strip())

anvitha alla

4. replace-It replace one substring with another.
- example

In [140]:
my_s=" you are good"
strings= my_s.replace("good","bad")
print(strings)

 you are bad

5. split-It splits the one string into sub srings.
- example

In [143]:
str="he is looking at the bird"
print(str.split())

['he', 'is', 'looking', 'at', 'the', 'bird']

6. join- It joins the substrings all into one string.
- Example

In [145]:
set=['he', 'is', 'looking', 'at', 'the', 'bird']
print(" ".join(set))

he is looking at the bird

7. capitalize-It Converts the first character to upper case
- example

In [147]:
a="idris"
print(a.capitalize())

Idris

8. casefold-  It Returns the string into lower case.
- example

In [159]:
name='ANUSHI'
print(name.casefold())

anushi

9. center- It returns the centered string.
- example

In [180]:
name="super hero"
print(name.center(30))

          super hero

10. count- It represents the number of occurances of a string.
- example

In [191]:
str="he is looking at the bird and he is fond of it."
print(str.count('is'))

2

11. find- It finds the string place and identifies it.
- example

In [196]:
str="he is looking at the man."
print(str.find('man'))

21

12. encode- It returns the encoded version of the string.
- example

In [204]:
word = "Namste India"
end= word.encode()
print(end)

b'Namste India'

13. endswith - 	 It prints true if the string ends with the specified value
- example

In [207]:
word = "Namste India"
end= word.endswith('Namste')
print(end)

False

14. format- It formats the specific tabs in the string
- example

In [210]:
number= 234
place="delhi"
formatted_string="His  number is {} going to {}." .format(number,place)
print(formatted_string)

His  number is 234 going to delhi.

15. expandtabs-It sets the the strings tab size.
- example

In [3]:
text= "My,\t name!\tHow are you?"
exp = text.expandtabs()
print(exp)

My,      name!  How are you?

16. index- It returns the position of the string and gives it index number.
- example

In [4]:
str="he is looking at the man."
print(str.index('man'))

21

17. isalnum- It return true if the string is alphanumberic.
- example

In [9]:
a="idris99"
print(a.isalnum())

True

18. isalpha- It returns true if all the characters in the string are alphabets.
- example

In [16]:
word = "Namste India"
print(word.isalpha())

False

19. isascii- It returns True if all characters in the string are ascii 
- example

In [21]:
import string
capital_letters= string.ascii_uppercase
print(capital_letters)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

20. isdecimal-It returns True if all characters in the string are decimals
- example

In [40]:
num="39889"
print(num.isdecimal())

True

21. isdigit-It	returns True if all characters in the string are digits
- example

In [45]:
num="398a89"
print(num.isdigit())

False

22. isidentifier-It returns True if the string is an identifier and it cannot come true is they are numbers.
- example

In [50]:
num="is_hero"
print(num.isidentifier())

True

23. islower- it returns True if all characters in the string are lowercase.
- example

In [53]:
word = "Namste India"
print(word.islower())

False

24. isupper- it returns true if all chartacters in the string are uppercase.
- example

In [56]:
a="IDRIS"
print(a.isupper())

True

25. isnumeric- It returns True if all characters in the string are numeric
- example

In [59]:
char="1223938020909"
print(char.isnumeric())

True

26. istitle- it returns true is the string is title cased.
- example

In [62]:
word = "Namste India"
print(word.istitle())

True

27. isspace - It returns True if all characters in the string are whitespaces.
- example

In [71]:
rank="1 2 3 4 5"
print(rank.isspace())

False

28. isprintable- It returns True if all characters in the string are printable.
- example

In [74]:
prle = ' She is looking beautiful'
print(prle.isprintable())

True

29. lstrip- It returns a copy of the string by removing starting whitespaces.
- example

In [77]:
str= "     hii! friends"
print(str.lstrip())

hii! friends

30. rstrip- It returns  the string by removing the ending whitespaces.
- example

In [83]:
str= "hii! friends      "
print(str.rstrip())

hii! friends

31. splitlines- it	will split the string and returns a list
- example

In [108]:
id= "He\nis\nin \nIndia."
b = id.splitlines()
print(b)

['He', 'is', 'in ', 'India.']

32. rfind- 	It returns the string for a specified value and returns the last position of where it was found.
- example

In [113]:
prle = ' She is looking beautiful'
print(prle.rfind('is'))

5

33. rindex-It returns the string for a specified value and returns the last position of where it was found, but raises value error its almost same as rfind.
- example

In [118]:
text= " Anvitha  is in america"
print(text.rindex('in'))

13

34. rsplit- It Splits the string from the right and returns the string.
- example

In [127]:
str="he is looking at the man."
print(str.rsplit())

['he', 'is', 'looking', 'at', 'the', 'man.']

35 zfill- Fills the string with a specified number of 0 values at the beginning.
- example

In [132]:
str = "089383"
str_1 = str.zfill(4)
print(str_1)

089383

36. translate- it modifyies string according to given translation mapping
- example
wordon={103:None,101:None,101:None}
str="akshaya"
print("translated string:",str.translate(translation))

In [6]:
word={10:None,11:None,12:None}
str_1="anvitha"
print("translated string:",str_1.translate(word))

translated string: anvitha

37. format_map- It formats specified values in string using a dictionary
- example

In [15]:
alpha={"b":'Delhi','c':'India'}
print("{b} is captital of {c}".format_map(alpha))

Delhi is captital of India

38. swapcase - converts all uppercase characters to lowercase and viceversa
- example

In [18]:
str="rajanna"
print(str.swapcase())

RAJANNA

39. maketrans- It returns a translation table to be used in translations
- example

In [25]:
og = "shaik idris"
translation = str.maketrans("s", "d") 
changed = og.translate(translation)
print(changed)

dhaik idrid

40. startswith-  It returns true if a string starts with prefix
- example

In [29]:
str="Abrar"
print(str.startswith("Abrar"))

True