# 1. Define tuple.
- A tuple is a list in an ordered collection of items.
- They are immutable, as once they are created they cannot be changed.
- They are defined using parenthesis() and spereated by commas.
- They can also contain duplicate elements.

# 2. examples of tuples
- num = (1, 2, 3)
- fruits = ("apple", "banana", "cherry")
- mixed = (10, "idris", 3.09, 'false')
- data= ('bat','ball','wicket', 'helmet')
- a= (23,4,78,90,22,22,1,22,5,6,1,9)
- colours=( "green", "red", "blue","yellow")
- names=( "gaurav", "reddy", "zoee","anvi")
- single=(90,)
- cities=( " delhi", "hyderabad", "mumbai","chennai")
- empty=()

# 3. Accessing of tuples.

In [32]:
colours=( "green", "red", "blue","yellow")
print(colours)
print(type(colours))

('green', 'red', 'blue', 'yellow')
<class 'tuple'>

In [8]:
print(colours[0])

green

In [12]:
a= (23,4,78,90,22,22,1,22,5,6,1,9)
print(a)
print(a[0:3])

(23, 4, 78, 90, 22, 22, 1, 22, 5, 6, 1, 9)
(23, 4, 78)

In [16]:
print(a[-9:-2])

(90, 22, 22, 1, 22, 5, 6)

In [18]:
cities=( " delhi", "hyderabad", "mumbai","chennai")
print(cities)
print(cities[-2])

(' delhi', 'hyderabad', 'mumbai', 'chennai')
mumbai

In [20]:
data= ('bat','ball','wicket', 'helmet')
print(data)
print(data[1])

('bat', 'ball', 'wicket', 'helmet')
ball

# 4. Tuple operations

In [25]:
fruits = ("apple", "banana", "cherry")
mixed = (10, "idris", 3.09, 'false')
x= fruits+mixed
print(x)

('apple', 'banana', 'cherry', 10, 'idris', 3.09, 'false')

In [28]:
names=( "gaurav", "reddy", "zoee","anvi")
single=(90,)
cities=( " delhi", "hyderabad", "mumbai","chennai")
total= single+names+cities
print(total)

(90, 'gaurav', 'reddy', 'zoee', 'anvi', ' delhi', 'hyderabad', 'mumbai', 'chennai')

In [34]:
data= ('bat','ball','wicket', 'helmet')
a= (23,4,78,90,22,22,1,22,5,6,1,9)
c= data+a
print(a)
print(c)

(23, 4, 78, 90, 22, 22, 1, 22, 5, 6, 1, 9)
('bat', 'ball', 'wicket', 'helmet', 23, 4, 78, 90, 22, 22, 1, 22, 5, 6, 1, 9)

In [40]:
num = (1, 2, 3)
rep= num* 5
print(rep)
print(num)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3)

In [42]:
single=(90,)
w= single * 30
print(single)
print(w)

(90,)
(90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90)

# 5. Methods of tuple

1. count- returns the number of times a value has been occured

In [52]:
# example
a= (23,4,78,90,22,22,1,22,5,6,1,9)
c= a.count(22)
print(c)

3

2. index- returns the index position of the specific value.

In [58]:
#example
a= (23,4,78,90,22,22,1,22,5,6,1,9)
c= a.index(1)
print(c)

6