#  1.explain about variables?
- A variable is a  storage area which hold data.
- Variable names are just the symbolic representation of a memory location and each variable should be given a unique name.
- Variables are essential in Python programming for manupulating data in computer programmes, allowing for dynamic and flexible code.
- They also enables us for dynamic and flexible coding, which makes easier to write and maintain the code.

# 2. Rules of variables?
- Rules of variables:-
- A variable name must begin with a letter (a-z, A-Z) or an underscore (_)- .
- you can use letters, numbers (0-9), and underscores after the first variable, for example:- vasu1, dataset_2028, user_nam- e.
- Variable names cannot contain space and cannot include special characters such as @, #, $, %, &, etc
- Variables cannot start with keyword and are also case sensitive for example : team, TEAM OR Team are cosidered to be diffrent.

# 3.Types of variables .
 - They are two types of variables :-
   1. single
   2. multiple
- single variable are those that store only sole value such as int,float.

In [4]:
#example of single variable 
x= 93093
a=0.4

print(x)
print(type(x))
print(a)
print(type(a))

93093
<class 'int'>
0.4
<class 'float'>

- multiple variables are which can store multiple data in one line and they are classified into 2 types:-
1. multi to multi
2. multi to one

In [8]:
#multi to multi
x,y,z= 23,34,56
print (x)
print(y)
print(z)

23
34
56

In [10]:
#multi to one
a=b=c= 25
print(a)
print(b)
print(c)

25
25
25

# 4. 10 examples of each and every type of variable and printing them and identifying the type.
1. single variables

In [14]:
#1
a = 34
print(a)
print(type(a))

34
<class 'int'>

In [18]:
#2
x= 389128
print(x)
print(type(x))

389128
<class 'int'>

In [20]:
#3 
temp = 98.7
print(temp)
print(type(temp))

98.7
<class 'float'>

In [22]:
#4
x= 0.45
print(x)
print(type(x))

0.45
<class 'float'>

In [28]:
#5
ram= 56
print(ram)
print(type(ram))

56
<class 'int'>

In [46]:
#6
c = 10+20j
print(c)
print(type(c))

(10+20j)
<class 'complex'>

In [50]:
#7
abc= 789
print(abc)
print(type(abc))

789
<class 'int'>

In [52]:
#8
idris=77.01

print(idris)
print(type(idris))

77.01
<class 'float'>

In [64]:
#9
p= 9 - 2j
print(p)
print(type(p))

(9-2j)
<class 'complex'>

In [66]:
#10
x= 128280130193093293290239
print(x)
print(type(x))

128280130193093293290239
<class 'int'>

2. multiple variables
- multi to multi
- multi to one
- one to multi

In [76]:
#multi to multi
a,b,c= 1 ,2,7
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1
2
7
<class 'int'>
<class 'int'>
<class 'int'>

In [70]:
ram,lucy,skid= 34,45,67.4
print(ram)
print(lucy)
print(skid)
print(type(skid))

34
45
67.4
<class 'float'>

In [72]:
x,y,z= 23+1j,34.0,89
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

(23+1j)
34.0
89
<class 'complex'>
<class 'float'>
<class 'int'>

In [78]:
x2,d5,k6= 20.3,45.6,90.7
print(x2)
print(d5)
print(k6)
print(type(k6))
print(type(x2))
print(type(d5))

20.3
45.6
90.7
<class 'float'>
<class 'float'>
<class 'float'>

In [80]:
#multi to one
x=y=z=45
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

45
45
45
<class 'int'>
<class 'int'>
<class 'int'>

In [82]:
jaan= bob= cat= 99.9
print(jaan)
print(bob)
print(cat)
print(type(jaan))
print(type(bob))
print(type(cat))

99.9
99.9
99.9
<class 'float'>
<class 'float'>
<class 'float'>

In [84]:
a=b=c= 23+2j
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

(23+2j)
(23+2j)
(23+2j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [90]:
#one to multi
a= 23,45,34
print(a[0])
print(type(a[0]))
print(a[1])
print(type(a[1]))
print(a[2])
print(type(a[2]))

23
<class 'int'>
45
<class 'int'>
34
<class 'int'>

In [92]:
idris= 98,99.0,49+2j
print(idris[0])
print(type(idris[0]))
print(idris[1])
print(type(idris[1]))
print(idris[2])
print(type(idris[2]))

98
<class 'int'>
99.0
<class 'float'>
(49+2j)
<class 'complex'>